// Thumbnail window
.thumb-window
  // Thumbnail container
  .gallery-thumbs
  
    // previous page
    - if image_count > 0
      %a.prev
  
    = form_for @material, :remote => true do |f|
      - unless image_count == 0
        = render :partial => 'thumb_group', :locals => { :material_sorted_images => material_sorted_images, :total_image_count => image_count } 
    
    // next page
    - if image_count > 5 
      %a.next

// MAIN IMAGE
#enlarge_container
  %img{ src: @material.default_large_image, name: "enlarge1", id: "large_image" }
         
%br
%br




