
= form_for @material, :remote => true do |f|
  - unless image_count == 0
  
    // previous page
    %a.prev

    // Thumbnail window
    #thumb_scroll
      // Thumbnail container
      #thumbs

        = render :partial => 'thumb_group', :locals => { :material_sorted_images => material_sorted_images, :total_image_count => image_count } 
    
    // next page
    %a.next

    // MAIN IMAGE
    #enlarge_container
      %img{ src: @material.default_large_image, name: "enlarge1", id: "large_image" }
         
    %br
    %br




