
// previous page
%a.prev

// root element for scrollable
.scrollable

  // root element for the items
  .items

    // THUMBNAILS 1-5
    .group
      = form_for @material, :url => admin_update_default_mat_image_path(@material), :remote => true, :method => "put", :html => { :id => 'udpate_default_image', :'data-type' => 'json' } do |f2|
      
        - @material.images.each do |i|
          .img
            %img{src: i.image.url(:thumb), name: 'al', class: "material_thumb", id: "material_thumb_#{i.id}", :data => { large_image: "#{i.image.url(:large)}", image_id: "#{i.id}" }}
            .close X
            %label.default
              // f2.radio_button {:class => :default_image_id, :name => default_image_id,:data => {material_id: @material.id, default_image_id: i.id  }
              %input{type: "radio", :class => :default_image_id, :name => 'default_image_id', :data => { material_id: @material.id, default_image_id: i.id }}
              %span set default








          / (href="#" onMouseover="MM_swapImage('enlarge1','','images/stone/Amande/amande_4ptStalk.jpg',0); 
          / writeText('FINISH: Type of finish <br> and minimum thickness')")

          / = link_to 'x', admin_image_path(i), :confirm => 'Are you sure you want to remove this image?', :method => :delete

          / %p= i.image_file_name





// next page
%a.next



// MAIN IMAGE
#enlarge_container
  %img{src: "/", name: "enlarge1", id: "large_image"}
        
%br
%br




