
%br
%h4 Current Images
%div{:style => "align: center; border-width: 1px; width: 700px"}

  - @material.images.each do |i|
    %span{:style => "white-space: nowrap" }
    %a{ :href => i.image.url(:large) }
      %img{:src => i.image.url(:thumb) }
    = link_to 'x', i, :confirm => 'Are you sure?', :method => :delete
    %br
    %p= i.image_file_name
- else
  %p
    None