
// previous page
%a.prev

// root element for scrollable
.scrollable

  // root element for the items
  .items

    // THUMBNAILS 1-5
    .group
      = form_for @material, :remote => true, :url => admin_material_update_default_image_path(@material) do |f|
             
        - @material.images.each do |i|
          .img
            %img{src: i.image.url(:thumb), name: 'al', class: "material_thumb", id: "material_thumb_#{i.id}", :data => { large_image: "#{i.image.url(:large)}", image_id: "#{i.id}" }}
            .close X
            %label.default
              %input{type: "radio", :checked => @material.default_image_id == i.id || nil, :class => :default_image_id, :name => 'default_image_id', :data => { material_id: @material.id, default_image_id: i.id }}
              %span set default


// next page
%a.next


// MAIN IMAGE
#enlarge_container
  %img{src: "/", name: "enlarge1", id: "large_image"}
        
%br
%br




