= render 'form'
%h1
  Materials Index
%table{widh: "600px"}
  - @materials.each do |material| 
    %tr
      %td
        = link_to  material.title, admin_material_path(material)
      %td  
        = button_to 'Edit', edit_admin_material_path(material), :method => :get
      %td     
        = button_to 'Delete', admin_material_path(material), :method => :delete, :confirm => "Are you sure?"

        

