
#content-left

  %h1
    Materials Manager

  %ul
    - @materials.each do |material| 
      %li
        = link_to  material.title, edit_admin_material_path(material)


#content-center.TwoColumnFix

  = render 'form'



