= render :partial => 'admin/materials/form', :locals => { :material => @material}

%h1
  Edit Materials!!!
%ul
  - @materials.each do |material| 
    %li
      =p material.title
      = link_to 'Edit', edit_admin_material_path(material.id)
      = link_to 'Delete', material, confirm: 'Are you sure?', method: 'delete'

