
#content-left

  %h1
    Rhodes Admin

  %ul
    %li 
      =link_to 'Manage materials', admin_materials_path
    %li 
      =link_to 'Manage material types', admin_material_types_path
    %li 
      =link_to 'Manage finishes', admin_finishes_path
    %li 
      =link_to 'Manage applications', admin_applications_path

#content-center.TwoColumnFix



