
/ FOOTER

#footer
  #footerWrap
    .left

      %p.copyright 
        All content of this website Copyright 1998 - 2012 Rhodes Architectural Stone and/or its participating publications.
        %br
        All rights reserved.
        %a{href:"/privacy.html"} Joint Notice of Privacy Practices

      %p
        %a.credit{href:"http://www.placeboarts.com/design/design_web.html", target:"_blank"}
          %span.creditTxt UI Design &amp; development by
          %span.name PlaceboArts

      %p
        %a.credit{href:"http://www.neimangraphicdesign.com", target:"_blank"}
          %span.creditTxt Design by
          %span.name Neiman Graphic Design

    .clear