
/ NEWS LINKS
#news
  %a{href:"projects_ralphlauren.html"} 
    New Projects
  |
  %a{href:"stone_anthighlandporphyry.html"} 
    New Materials
  |
  %a{href:"images/press/pdf/TB-0811.pdf"} 
    New Press


/ MAIN LINKS
%ul#links.sf-menu
  %li
    %a{href:"contact.html"} Contact
  %li
    %a{href:"#{materials_path}"} Material
  %li
    %a{href:"press.html"} Press
  %li.nolink
    Projects
    %ul
      %li
        %a{href:"/projects/projects_drumlin.html"} Residential
      %li
        %a{href:"/projects/projects_ralphlauren.html"} Commercial
  %li
    %a{href:"/company.html"} Company
    %ul
      %li
        %a{href:"company.html"} Who We Are
      %li 
        %a{href:"company-what.html"} What We Do
      %li 
        %a{href:"company-how.html"} How We Work
      %li 
        %a{href:"company-why.html"} Why Rhodes
      %li 
        %a{href:"company-bios.html"} Bios