
#content-left

  %h1 
    New Application

  %ul
    - @applications.each do |app| 
      %li
        = link_to  app.title, edit_admin_application_path(app)

#content-center.TwoColumnFix

  = form_for @application, :url => admin_applications_path, :method => :post do |f| 

    = f.text_field :title

    = f.submit 'Create', :id => "create_application", :class => "submit"