
#content-left

  %h1 
    New Application

  %ul
    - @applications.each do |app| 
      %li
        = link_to  app.title, edit_admin_finish_path(fin)

#content-center.TwoColumnFix

  = form_for @application, :url => admin_applications_path, :method => :post do |f| 

    = f.text_field :title

    = f.submit 'Add Application', :id => "add_application", :class => "submit"