@import mixins

// ADMIN
input, select, label, textarea
  display: block


form
  width: 600px

label
  margin: 2px 0
  font-weight: bold
  line-height: 1.3em
  font-size: .9em
  color: #252525

select
  margin: 0 0 24px
  min-width: 180px
  option
    padding: 2px 4px




// EDIT TITLE
input#material_title, input#finish_title, input#application_title
  margin: 0 0 16px
  padding: 8px 12px
  min-width: 450px
  font-family: Times, serif
  font-size: 26px
  letter-spacing: 2px
  color: #999
  outline: none
  border: 1px solid #555
  box-shadow:         inset 2px 4px 4px #ccc
  -moz-box-shadow:    inset 2px 4px 4px #ccc
  -webkit-box-shadow: inset 2px 4px 4px #ccc

  &:focus
    +shadow(0, 0, 8, #414042)
    color: #414042
    border: 1px solid #414042

// FINISH
select#material_material_type_id
  margin: 0 0 40px

// DESCRIPTION
textarea#material_description
  margin: 0 0 24px
  padding: 8px
  min-width: 500px
  color: #999
  outline: none
  border: 1px solid #555
  box-shadow:         inset 1px 2px 3px #ccc
  -moz-box-shadow:    inset 1px 2px 3px #ccc
  -webkit-box-shadow: inset 1px 2px 3px #ccc

  &:focus
    color: #414042
    border: 1px solid #414042
    +shadow(0, 0, 8, #414042)


input#material_material[pdf]
  margin: 0 0 16px
  padding: 4px 8px
  color: #999
  outline: none
  border: 1px solid #555
  box-shadow:         inset 2px 4px 4px #ccc
  -moz-box-shadow:    inset 2px 4px 4px #ccc
  -webkit-box-shadow: inset 2px 4px 4px #ccc

  &:focus
    +shadow(0, 0, 8, #414042)
    color: #414042
    border: 1px solid #414042


input#image_image
  float: left


input.submit, input.delete
  float: left
  margin: 40px 20px 0 0
  height: 48px
  width: 160px
  +font(14px)
  +round(8)

input.submit
  +save(24)

input.delete
  +delete(24)





// FILTERS
.filters
  margin: 0 0 20px

  .filterWrap
    float: left
    margin: 10px 20px 20px 0
    padding: 4px 8px
    height: 18px
    background: #F0F0EE
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    border: 1px solid #676767
    border: 1px solid rgba(0, 0, 0, 0.7)
    background: #F0F0EE
    background: -webkit-gradient(linear, center top, center bottom, from(#f0f0ee), to(#e0e0dc))
    background: -moz-linear-gradient(#f0f0ee, #e0e0dc)
    background: -o-linear-gradient(#f0f0ee, #e0e0dc)

    select
      background: transparent
      -webkit-appearance: none
      border: none
      padding: 0
      height: 16px
      font-size: 12px
    option
      cursor: pointer
      padding: 4px
      &.label
        cursor: default




