
#content-left

  %h1
    Material Type Manager

  %ul
    - @material_types.each do |mat_type| 
      %li
        = link_to  mat_type.title, edit_admin_material_type_path(mat_type)

#content-center.TwoColumnFix

  = form_for @material_type, :url => admin_material_types_path do |f|

    = f.text_field :title, :placeholder => 'Create New Material Type'

    = f.submit 'Create', :id => "create_type", :class => "submit"