@import mixins

// ALERTS
#globalAlert
  +clickable
  +user-select
  +pointer
  +round(8)
  +flat-top
  box-shadow: 0 0 40px #f0e207
  -moz-box-shadow: 0 0 40px #f0e207
  -webkit-box-shadow: 0 0 40px #f0e207
  padding: 0 50px
  text-align: center
  position: fixed
  top: 0px
  left: 50%
  min-height: 50px
  max-width: 550px
  z-index: 2000
  +bg-black(.8)
  border: 2px solid #fff
  border-top: none
  &:hover .close
    +bg-black(.7)
    color: red

  .notice p
    color: #ddd

  .alert p
    color: red

  p
    +left
    +font(14)
    margin: 12px 12px 12px 0

  .close
    +font(12px)
    +round(12)
    +center
    +bold
    +absolute
    width: 24px
    height: 24px
    line-height: 24px
    right: 12px
    top: 11px
    background: rgba(250,0,0,0.5)
    color: #fff






