@import mixins

// ALERTS
#globalAlert
  +clickable
  +user-select
  +pointer
  +round(8)
  +flat-top
  box-shadow: 0 0 40px #f0e207
  -moz-box-shadow: 0 0 40px #f0e207
  -webkit-box-shadow: 0 0 40px #f0e207
  padding: 0 50px
  text-align: center
  position: fixed
  top: 0px
  left: 50%
  min-height: 50px
  max-width: 550px
  z-index: 2000
  +bg-black(.8)
  border: 2px solid #fff
  border-top: none

  .notice p
    color: #ddd

  .alert p
    color: #7C3113

  p
    +left
    +font(14)
    margin: 12px 12px 12px 0
  .check, .close
    width: 31px
    height: 31px
    +absolute
    right: 12px
    top: 11px
  .check
    // +check-31
  .close
    @extend .close-24-hover