- if mats_with_images = Material.newly_crafted.count > 0

  %h3 ANTIQUE MATERIALS
  - Material.antique_in_title.each do |mat| 
    - default_image = mat.images.first  
    %ul#new.thumbs.clearfix
      %li
        %a{:href => material_path(mat) }
          - if mat.images.count == 0
            %img{ :src => "assets_path('placeholder-95.gif')" }
          - else
            %img{ :src => default_image.image.url(:thumb) }
          %span.material= "#{mat.title}"
          - unless mat_type_title = mat.material_type_title.nil?
            %span.type= "#{mat.material_type_title}"