%ul#new.thumbs.clearfix
  %li
    %a{:href => material_path(mat) }
      - unless default_image.nil?  
        %img{ :src => default_image }
      - else 
        %img{ :src => default_image }
      
      %span.material= "#{ mat.title }"
      - unless mat_type_title = mat.material_type_title.nil?
        %span.type= "#{ mat.material_type_title }"